#wrapper
{
width:100%;
height:100%;
background-color:#b61256;
}
#banner
{
width:100%;
height:22%;
background-color:#eeeeee;
}
#topmenu
{
width:100%;
height:6%;
background-color:#dddddd;
}
#columnleft
{
width:22%;
height:65%;
background-color:#cccccc;
float:left;
}
#columnright
{
width:22%;
height:65%;
background-color:#bbbbbb;
float:right
}
#columncenter
{
width:56%;
height:65%;
background-color:#aaaaaa;
margin-left:22%;
}
#footer
{
width:100%;
height:7%;
background-color:#6fffff;
}
body
{
margin:0px;
}